[submodule "workspace/assignments/06-deep-detection/kitti-eval"]
	path = workspace/assignments/06-deep-detection/kitti-eval
	url = https://github.com/AlexGeControl/3D-Point-Cloud-KITTI-Evaluation.git
[submodule "workspace/assignments/06-deep-detection/point-pillar"]
	path = workspace/assignments/06-deep-detection/point-pillar
	url = https://github.com/traveller59/second.pytorch.git
[submodule "workspace/assignments/06-deep-detection/spconv"]
	path = workspace/assignments/06-deep-detection/spconv
	url = https://github.com/traveller59/spconv.git
[submodule "workspace/assignments/06-deep-detection/apex"]
	path = workspace/assignments/06-deep-detection/apex
	url = https://github.com/NVIDIA/apex.git
