*
!.gitignore
# modelnet 40, general point cloud analytics:
!download-modelnet40.sh
!sample-modelnet40.py
# modelnet 40 for pointnet++ evaluation:
!download-modelnet40-normal-resampled.sh
# kitti:
!download-kitti.sh
!download-kitti-3d-object-detection.sh
# shenlanxueyuan, point cloud registration:
!registration_dataset
!registration_dataset/evaluate_rt.py
!registration_dataset/reg_result_yaogefad.csv
!registration_dataset/reg_result.csv